<h1 align='center' style="color:rgb(240, 61, 16)">Государственная учетная система договоров</h1>

<h2><a href="{% url 'contracts' %}">Список всех договоров</a></h2>

<h3><a href="{% url 'notifications' %}">Извещения (notifications)</a></h3>
<h3><a href="{% url 'budget_commitment' %}">budget_commitment</a></h3>
<h3><a href="{% url 'commitment_treasury' %}">commitment_treasury</a></h3>
<h3><a href="{% url 'deals' %}">deals</a></h3>
<h3><a href="{% url 'limits' %}">limits</a></h3>
<h3><a href="{% url 'payment_schedule' %}">payment_schedule</a></h3>
<h3><a href="{% url 'payments_full' %}">payments_full</a></h3>
<h3><a href="{% url 'payments_short' %}">payments_short</a></h3>
<h3><a href="{% url 'payments' %}">payments</a></h3>
<h3><a href="{% url 'plan' %}">plan</a></h3>
<h3><a href="{% url 'purchase_plan' %}">purchase_plan</a></h3>
<h3><a href="{% url 'spending' %}">spending</a></h3>

